
{% for host in groups['all'] %}
{{ hostvars[host]['ansible_facts']['ansible_ip_address'] }} {{ hostvars[host]['ansible_facts']['fqdn'] }} {{ hostvars[host]['ansible_facts']['hostname'] }}
{% endfor %}